@import '../../../meta/mixin.scss';

// CARD FORMATS
@mixin card {
    height: 200px;
    width: 130px;
    border-radius: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
}



// ON BOARD DISASTER CARDS
.disaster-recto {
    height: 55px;
    width: 80px;
    transform: rotate(90deg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}



// IN HAND CARDS
.player-hand {
    .card {
        height: 120px;
        width: 80px;
        position: relative;
        bottom: 40%;
        transition: .2s ease;

        &:hover {
            transform: scale(1.5) translateY(-3em);
        }
    }

    .to-be-played{
        box-sizing: border-box;
        border: 3px solid goldenrod;
        box-shadow: 0px 0px 4px 4px gold;
    }
}

.can-draw {
    @include takeAnimation;
}
