.army {
    height: 40px;
    width: 25px;
    position: relative;
    z-index: 3;
    display: flex;

    .lord {
        height: 100%;
        width: 100%;
        background-image: url('/fief/storage/app/public/images/charles.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        transition: .5s ease;
        box-shadow: 0px 0px 15px -5px #000000;
    }

    .lord-forces {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .army-forces{
        position: relative;
        display: flex;
        flex-direction: column;
        transition: .3s ease;

        .sergeant{
            bottom: 50%;
        }
        .knight{
            top: 50%
        }
    }


    // ARMY MOVE OPTIONS
    .move-menu {
        position: relative;
        height: 0px;
        width: 0px;
        top: -10%;
        left: -20;

        i {
            height: 0px;
            width: 0px;

            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            top: 0;
            left: 0;

            font-size: 0px;
            color: transparent;
            background-color: goldenrod;
            box-shadow: inset 0px 0px 5px 1px rgb(75, 43, 16, .8), 0px 0px 4px 1px rgb(75, 43, 16, .8);
            border-radius: 10em;

            transition: .3s ease;

            &:hover {
                box-shadow: inset 0px 0px 15px 3px rgb(75, 43, 16, .8);
            }
        }

        &.show {
            height: auto;
            width: auto;

            i {
                font-size: 1.2rem;
                height: 35px;
                width: 35px;
                color: rgb(68, 41, 6);

                &:first-child {
                    background-color: black;
                    transform: translateY(-72%);
                }

                &:nth-child(2) {
                    transform: translateY(75%) translateX(-85%);
                }

                &:nth-child(3) {
                    transform: translateY(75%) translateX(85%);
                }

                &:nth-child(4) {
                    transform: translateX(0%) translateY(25%) scale(.8);
                }

                &.active {
                    background-color: rgb(245, 198, 79);
                    color: white;
                }
            }
        }
    }

    .banner {
        // box-sizing: border-box;
        border: 1px solid white;
        height: 85%;
        width: auto;
        position: absolute;
        right: -50%;
        z-index: 5;
    }

}
