@import '../../meta/mixin';

@mixin building {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    opacity: 1 !important;
}

@mixin remaining {
    height: 40px;
    width: 40px;
    position: absolute;
}

.chateau{
    @include building;
    @include back-img('images/chateau.png');
}
.cite{
    @include building;
    @include back-img('images/cite.png');
}
.moulin{
    @include building;
    @include back-img('images/moulin.png');
    transform: translateX(-20px) translateY(20px) scale(.6);
    z-index: 2;
}

.remaining-chateau,
.remaining-cite,
.remaining-moulin {
    @include remaining;
}
.remaining-chateau{
    @include back-img('images/chateau.png');
}
.remaining-cite{
    @include back-img('images/cite.png');
}
.remaining-moulin {
    @include back-img('images/moulin.png');
}


