@mixin bck-img($img){
    background-image: url('/fief/storage/app/public/images/'+$img);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin card {
    height: 100px;
    width: 64px;
    border-radius: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

@mixin card-pile {
    height: 55px;
    width: 80px;
    border-radius: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



.lord-verso {
    @include card-pile;
    @include bck-img('lord-card-verso-90.png');
}
.event-verso {
    @include card-pile;
    @include bck-img('event-card-verso-90.png');
}
.disaster-verso {
    @include card-pile;
    @include bck-img('disaster-card-verso-90.png');
}
.disaster-recto {
    height: 80px;
    width: 55px;
    transform: rotate(90deg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}



// CARD-PILES FOR GAME-INFO
.card-pile{
    @include card-pile;
    border: 1px solid white;

    .card{
        position: absolute;
    }
}



// IN HAND CARDS
.player-hand {
    .card {
        height: 120px;
        width: 80px;
        position: relative;
        bottom: 40%;
        background-image: url("/fief/storage/app/public/cards/lords/Eric.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: .2s ease;

        &:hover {
            transform: scale(1.5) translateY(-3em);
        }
    }

    .to-be-played{
        box-sizing: border-box;
        border: 3px solid goldenrod;
        box-shadow: 0px 0px 4px 4px gold;
    }
}
