@import '../../meta/mixin.scss';

.player-board{
    width: 900px;
    height: 420px;
    top: 15%;
    flex-direction: column;

    &.open{
        animation: 'openPlayerBoard' 1.5s ease-out forwards;
    }
    &.close{
        animation: 'closePlayerBoard' 1.5s ease-out forwards;
    }
}


.family-info {
    width: 100%;
    height: 20%;
    border-bottom: 5px solid;
    border-color: inherit;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .token-pool {
        width: 70px;
        height: 70px;
        display: flex;
        position: relative;
        @include spreadTokens;
    }

    .token {
        height: 70px;
        width: 70px;
        border-radius: .5em;
        border-width: 5px;
    }
}

.family-lords {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lord-slot{
    height: 90%;
    width: 25%;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: inherit;
    border-color: inherit;
    margin: .7em;
    position: relative;
    display: grid;
    grid-gap: .1em;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    *{
        box-sizing: border-box;
        border: 1px solid white;
        border-radius: .5em;
    }

    &:nth-of-type(1){
        @include back-img("images/oldpaper1.jpg");
        background-size: cover;
    }
    &:nth-of-type(2){
        @include back-img("images/oldpaper2.jpg");
        background-size: cover;
    }
    &:nth-of-type(3){
        @include back-img("images/oldpaper3.jpg");
        background-size: cover;
    }
    &:nth-of-type(4){
        @include back-img("images/oldpaper4.png");
        background-size: 120% 130%;
    }
}


.crown-slot{
    &:first-child{
        grid-column: 1 / 6;
        grid-row: 1 / 2;
    }
    &:nth-child(2){
        grid-column: 1 / 6;
        grid-row: 2 / 3;
    }
    &:nth-child(3){
        grid-column: 1 / 6;
        grid-row: 3 / 4;
    }
}

.ring{
    grid-column: 6 / 8;
    grid-row: 2 / 4;
}

.slot {
    grid-column: 1 / 6;
    grid-row: 4 / 11;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    display: flex;
    justify-content: center;

    .slot-name {
        position: absolute;
        top: 80%;
        background-color: #ccccb4;
        height: 1em;
        display: flex;
        align-items: center;
        color: #593814;
    }
}

.cross-slot{
    &:nth-child(5){
        grid-column: 6 / 7;
        grid-row: 4 / 11;
    }
    &:nth-child(6){
        grid-column: 7 / 8;
        grid-row: 4 / 11;
    }
}

.can-send-message {
    &:hover{
        cursor: url('../public/storage/cursors/sendmessage.png'), pointer;
    }
}
