.token{
    height: 27px;
    width: 27px;
    // position: absolute;
    top: 20%;
    padding: .1em;
    background-color: papayawhip;
    border: 3px solid forestgreen;
    border-radius: .2em;
    .soldier {
        height: 100%;
        width: auto;
        position: relative;
        left: 15%;
    }
    .knight {
        height: 100%;
        width: auto;
        position: relative;
        left: 15%;
        transform: scale(1.1);
    }
}
.lord {
    height: 60px !important;
    width: 30px !important;
    background-image: url('/fief/storage/app/public/images/charles.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 3;
    transition: .5s ease;
}