.token{
    height: 27px;
    width: 27px;
    padding: .1em;
    border-radius: .2em;
    background-color: papayawhip;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    box-shadow: 0px 0px 4px 1px black;

    &.none {
        opacity: .5;
    }

    &.sergeant {
        background-image: url('/fief/storage/app/public/images/soldier.png');
    }
    &.knight {
        background-image: url('/fief/storage/app/public/images/knight.png');
    }
    &.trebuchet {
        background-image: url('/fief/storage/app/public/images/trebuchet.png');
    }
    &.ring {
        background-image: url('/fief/storage/app/public/images/ring.png');
    }
    &.ambassy {
        background-image: url('/fief/storage/app/public/images/ambassy.png');
    }
    &.treasure {
        background-image: url('/fief/storage/app/public/images/treasure.png');
    }

    &.sergeant {
        &:nth-of-type(1){
            left: 2px;
        }
        &:nth-of-type(2){
            left: 4px;
        }
        &:nth-of-type(3){
            left: 6px;
        }
        &:nth-of-type(4){
            left: 8px;
        }
        &:nth-of-type(5){
            left: 10px;
        }
        &:nth-of-type(6){
            left: 12px;
        }
        &:nth-of-type(7){
            left: 14px;
        }
        &:nth-of-type(8){
            left: 16px;
        }
        &:nth-of-type(9){
            left: 18px;
        }
        &:nth-of-type(10){
            left: 20px;
        }
        &:nth-of-type(11){
            left: 22px;
        }
        &:nth-of-type(12){
            left: 24px;
        }
        &:nth-of-type(13){
            left: 26px;
        }
    }

    &.knight {
        &:nth-of-type(1){
            left: 2px;
        }
        &:nth-of-type(2){
            left: 4px;
        }
        &:nth-of-type(3){
            left: 6px;
        }
        &:nth-of-type(4){
            left: 8px;
        }
        &:nth-of-type(5){
            left: 10px;
        }
        &:nth-of-type(6){
            left: 12px;
        }
        &:nth-of-type(7){
            left: 14px;
        }
        &:nth-of-type(8){
            left: 16px;
        }
    }
}
