.token{
    height: 27px;
    width: 27px;
    // display: flex;
    padding: .1em;
    background-color: papayawhip;
    border-radius: .2em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    // position: absolute;
    
    &.sergeant {
        background-image: url('/fief/storage/app/public/images/soldier.png');
    }
    &.knight {
        background-image: url('/fief/storage/app/public/images/knight.png');
        background-size: 70%;
    }
}