@import '../../../meta/mixin.scss';

@mixin building {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    opacity: 1 !important;
}

@mixin remaining {
    height: 40px;
    width: 40px;
    position: absolute;
}

.chateau{
    @include building;
    @include back-img('tokens/buildings/castle.png');
}
.cite{
    @include building;
    @include back-img('tokens/buildings/city.png');
}
.moulin{
    @include building;
    @include back-img('tokens/buildings/mill.png');
    transform: translateX(-10px) translateY(10px) scale(.6);
    z-index: 2;
}

.remaining-chateau{
    @include remaining;
    @include back-img('tokens/buildings/castle.png');
}
.remaining-cite{
    @include remaining;
    @include back-img('tokens/buildings/city.png');
}
.remaining-moulin {
    @include remaining;
    @include back-img('tokens/buildings/mill.png');
}


