@import '../../../meta/mixin.scss';

@mixin building {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    opacity: 1 !important;
}

@mixin remaining {
    height: 40px;
    width: 40px;
    position: absolute;
}

.castle{
    @include building;
    @include back-img('tokens/buildings/castle.png');
}
.city{
    @include building;
    @include back-img('tokens/buildings/city.png');
}
.mill{
    @include building;
    @include back-img('tokens/buildings/mill.png');
    transform: translateX(-10px) translateY(10px) scale(.6);
    z-index: 2;
}

.remaining-mill {
    @include remaining;
    @include back-img('tokens/buildings/mill.png');
}
.remaining-castle{
    @include remaining;
    @include back-img('tokens/buildings/castle.png');
}
