.locations {

    .empty {
        border: 1px solid rgb(126, 126, 126);

        &:hover{
            border: 1px solid rgb(207, 207, 207);
            transform: scale(1.1);
        }
    }

    .icons {
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        position: absolute;

        i {
            color: rgb(238, 238, 238);
            z-index: 5;
            text-shadow: black 0px 0px 5px;
        }
    }
    .wealth {
        box-shadow: 0px 0px 5px 2px rgba(255, 217, 0, 0.774);
    }

    .village{
        position: absolute;
        height: 8%;
        width: 6%;
        display: block;
        border-radius: .3em;
        transition: .3s ease;

        &:hover{
            transform: scale(1.3);
            z-index: 4;

            &>.army{
                &:nth-of-type(1){
                    transform: translateX(-30%);
                    transform: translateY(-30%);
                }
            }
        }

        &>.army{
            &:nth-of-type(1){
                left: -60%;
                top: -80%;
            }
            &:nth-of-type(2){
                left: -90%;
                top: 0%;
            }
            &:nth-of-type(3){
                left: -60%;
                top: 60%;
            }
            &:nth-of-type(4){
                left: 60%;
                top: -80%;
            }
            &:nth-of-type(5){
                left: 90%;
                top: 0%;
            }
            &:nth-of-type(6){
                left: 60%;
                top: 60%;
            }
        }
    }

    //COUNTY 1
    #tournus {
        left: 77%;
        top: 20%;

        // &::after {
        //     content:'TOURNUS';
        //     position: absolute;
        //     top: -50%;
        //     left: -50%;
        //     font-size: .8rem;
        //     color: lightgray;
        //     background-color: darkgreen;
        //     padding: .3em;
        //     border-radius: .5em;

        // }
        // &:hover {
        //     opacity: 1;
        // }
    }
    #belleville{
        left: 86.5%;
        top: 6%;
    }
    #pugnac{
        left: 88%;
        top: 36%;
    }

    // COUNTY 2
    #st-gérôme{
        left:85.5%;
        top:58.5%;
    }
    #st-médard{
        left:63.5%;
        top:56%;
    }
    #st-andré{
        left:88.5%;
        top:79.5%;
    }

    //DUCHY 1
    #bourg{
        left:53%;
        top:80.5%;
    }
    #villeneuve{
        left:44%;
        top:56%;
    }
    #st-vivien{
        left:37.5%;
        top:80%;
    }
    #la-buissière{
        left:71.5%;
        top:82.5%;
    }

    //BARONY 1
    #les-essarts{
        left: 29.5%;
        top: 59%;
    }
    #st-paul{
        left:14%;
        top:81%;
    }

    //COUNTY 3
    #sigy{
        left:5%;
        top:63%;
    }
    #marcamps{
        left:14.5%;
        top:48.5%;
    }
    #st-ciers-d-abzac{
        left: 7%;
        top:32%;
    }

    //DUCHY 2
    #blaye{
        left:25%;
        top:26%;
    }
    #beaujeu{
        left: 6%;
        top: 11%;
    }
    #la-salle{
        left: 22%;
        top: 4%;
    }
    #charolles{
        left: 36%;
        top: 37%;
    }

    // COUNTY 4
    #sennecy{
        left: 37%;
        top: 12%;
    }
    #l-épervier{
        left: 50%;
        top: 28%;
    }
    #château-neuf{
        left: 51%;
        top: 8%;
    }

    // BARONY 2
    #mazilles{
        left: 63%;
        top: 13%;
    }
    #st-andromy{
        left: 71.5%;
        top: 40%;
    }
}
