@charset "UTF-8";
:root {
  --red: rgb(158, 29, 29);
  --red-strong: rgb(102, 7, 7);
  --red-txt: rgb(224, 172, 0);
  --green: rgb(19, 134, 19);
  --green-strong: rgb(16, 85, 16);
  --green-txt: rgb(255, 236, 62);
  --white: rgb(247, 247, 247);
  --white-strong: rgb(185, 185, 185);
  --white-txt: rgb(31, 30, 30);
  --blue: rgb(17, 81, 146);
  --blue-strong: rgb(8, 61, 114);
  --blue-txt: rgb(96, 205, 255);
  --yellow: rgb(233, 183, 57);
  --yellow-strong: rgb(185, 135, 6);
  --yellow-txt: rgb(30, 30, 30);
  --black: rgb(36, 36, 36);
  --black-strong: rgb(19, 19, 19);
  --black-txt: rgb(236, 236, 236);
  --background-black: rgb(26, 26, 26);
}

@-webkit-keyframes draw {
  from {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  40% {
    transform: translateX(-200px) translateY(200px) rotate(-35deg);
  }
  to {
    transform: translateX(-300px) translateY(700px) rotate(-90deg);
  }
}

@keyframes draw {
  from {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  40% {
    transform: translateX(-200px) translateY(200px) rotate(-35deg);
  }
  to {
    transform: translateX(-300px) translateY(700px) rotate(-90deg);
  }
}
@-webkit-keyframes drawn {
  from {
    transform: translateY(1em);
  }
  to {
    transform: translateY(-5em);
  }
}
@keyframes drawn {
  from {
    transform: translateY(1em);
  }
  to {
    transform: translateY(-5em);
  }
}
@-webkit-keyframes modalshow {
  from {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes modalshow {
  from {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.red-theme {
  background-color: var(--red);
  color: var(--red-txt);
  background-image: url("/fief/storage/app/public/textures/grunge2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.red-bordered {
  background-color: var(--red);
  color: var(--red-txt);
  background-image: url("/fief/storage/app/public/textures/grunge2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  border: 5px solid var(--red-strong);
}
.red-bordered.token {
  border: 2px solid var(--red-strong);
}

.blue-theme {
  background-color: var(--blue);
  color: var(--blue-txt);
  background-image: url("/fief/storage/app/public/textures/grunge2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blue-bordered {
  background-color: var(--blue);
  color: var(--blue-txt);
  background-image: url("/fief/storage/app/public/textures/grunge2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  border: 5px solid var(--blue-strong);
}
.blue-bordered.token {
  border: 2px solid var(--blue-strong);
}

.green-theme {
  background-color: var(--green);
  color: var(--green-txt);
  background-image: url("/fief/storage/app/public/textures/grunge2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.green-bordered {
  background-color: var(--green);
  color: var(--green-txt);
  background-image: url("/fief/storage/app/public/textures/grunge2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  border: 5px solid var(--green-strong);
}
.green-bordered.token {
  border: 2px solid var(--green-strong);
}

.yellow-theme {
  background-color: var(--yellow);
  color: var(--yellow-txt);
  background-image: url("/fief/storage/app/public/textures/grunge2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.yellow-bordered {
  background-color: var(--yellow);
  color: var(--yellow-txt);
  background-image: url("/fief/storage/app/public/textures/grunge2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  border: 5px solid var(--yellow-strong);
}
.yellow-bordered.token {
  border: 2px solid var(--yellow-strong);
}

.white-theme {
  background-color: var(--white);
  color: var(--white-txt);
  background-image: url("/fief/storage/app/public/textures/grunge2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.white-bordered {
  background-color: var(--white);
  color: var(--white-txt);
  background-image: url("/fief/storage/app/public/textures/grunge2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  border: 5px solid var(--white-strong);
}
.white-bordered.token {
  border: 2px solid var(--white-strong);
}

.black-theme {
  background-color: var(--black);
  color: var(--black-txt);
  background-image: url("/fief/storage/app/public/textures/grunge2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.black-bordered {
  background-color: var(--black);
  color: var(--black-txt);
  background-image: url("/fief/storage/app/public/textures/grunge2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  border: 5px solid var(--black-strong);
}
.black-bordered.token {
  border: 2px solid var(--black-strong);
}

.token {
  height: 27px;
  width: 27px;
  display: flex;
  padding: 0.1em;
  background-color: papayawhip;
  border-radius: 0.2em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  position: absolute;
}
.token.sergeant {
  top: 0;
  left: 0;
  background-image: url("/fief/storage/app/public/images/soldier.png");
}
.token.knight {
  top: 0;
  right: 0;
  background-image: url("/fief/storage/app/public/images/knight.png");
  background-size: 70%;
}

/**
  * DICES
  * -----
  *
  */
.dice-b,
.dice-w,
.dice-n {
  border-radius: 0.5em;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.2em;
}
.dice-b img,
.dice-w img,
.dice-n img {
  width: auto;
  height: 80%;
  position: relative;
}
.dice-b .dice-dot,
.dice-w .dice-dot,
.dice-n .dice-dot {
  border: 3px solid black;
  border-radius: 100%;
  position: relative;
}

.dice-w {
  border: 1px solid #e2dcd5;
  background-color: #fffaf4;
}

.dice-b {
  border: 1px solid #424242;
  background-color: #272727;
}

.dice-n {
  border: 1px solid #d8c689;
  background-color: #f8eabb;
}

.d-f2 img:first-child {
  left: 23%;
}
.d-f2 img:last-child {
  right: 23%;
}

.d-f3 img:first-child {
  left: 49%;
}
.d-f3 img:last-child {
  right: 53%;
}

.d-n-2 span:first-child {
  left: 30%;
  bottom: 20%;
}
.d-n-2 span:last-child {
  right: 30%;
  top: 20%;
}

.d-n-3 span:first-child {
  left: 40%;
  bottom: 20%;
}
.d-n-3 span:last-child {
  right: 40%;
  top: 20%;
}

.d-n-4 span:nth-child(odd) {
  left: 10%;
  bottom: 20%;
}
.d-n-4 span:nth-child(even) {
  right: 10%;
  top: 20%;
}

.d-n-5 span:nth-child(odd) {
  left: 20%;
  bottom: 20%;
}
.d-n-5 span:nth-child(even) {
  right: 0;
  top: 20%;
}
.d-n-5 span:nth-child(5) {
  left: -40%;
  top: 0;
}

.d-n-6 span:nth-child(1) {
  left: 30%;
  bottom: 25%;
}
.d-n-6 span:nth-child(2) {
  left: 10%;
  bottom: 0;
}
.d-n-6 span:nth-child(3) {
  left: -10%;
  top: 24%;
}
.d-n-6 span:nth-child(4) {
  left: 10%;
  bottom: 25%;
}
.d-n-6 span:nth-child(5) {
  left: -10%;
  bottom: 0;
}
.d-n-6 span:nth-child(6) {
  left: -30%;
  top: 24%;
}

/**
  * CARDS
  * -----
  *
  */
.card {
  height: 100px;
  width: 70px;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card img {
  height: 50%;
  width: auto;
  transition: 0.6s ease;
}
.card img:hover {
  transform: scale(1.4) translateY(-2em);
}
.card .overline {
  position: absolute;
  height: 85%;
  width: 85%;
  border-radius: 0.5em;
}

.lord-card {
  background-color: #c58001;
}
.lord-card .overline {
  border: 4px solid #272727;
}

.event-card {
  background-color: #858585;
}
.event-card .overline {
  border: 4px solid #272727;
}

.disaster-card,
.incomming-disaster {
  background-color: #272727;
}
.disaster-card .overline,
.incomming-disaster .overline {
  border: 4px solid #dadada;
}

.discard-pile {
  border: 1px solid #dadada;
}

.player-hand .card {
  height: 250px;
  width: 230px;
  -webkit-animation: "drawn" 0.5s forwards;
          animation: "drawn" 0.5s forwards;
}

.draw-animation {
  -webkit-animation: "draw" 1.5s forwards;
          animation: "draw" 1.5s forwards;
}

.locations {
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url("/fief/storage/app/public/images/board.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.locations .village,
.locations .city {
  position: absolute;
  height: 8%;
  width: 6%;
  display: block;
  border-radius: 0.3em;
  transition: 0.3s ease;
}
.locations .village:hover,
.locations .city:hover {
  transform: scale(1.2);
}
.locations #tournus {
  left: 77%;
  top: 20%;
  opacity: 0;
  border: 2px solid forestgreen;
}
.locations #tournus::after {
  content: "TOURNUS";
  position: absolute;
  top: -50%;
  left: -50%;
  font-size: 0.8rem;
  color: lightgray;
  background-color: darkgreen;
  padding: 0.3em;
  border-radius: 0.5em;
}
.locations #tournus:hover {
  opacity: 1;
}
.locations #belleville {
  left: 87%;
  top: 5%;
  border: 2px solid forestgreen;
}
.locations #pugnac {
  left: 88%;
  top: 36%;
  border: 2px solid forestgreen;
}
.locations #st-gérôme {
  left: 85.5%;
  top: 58.5%;
  border: 2px solid #ffce51;
}
.locations #st-médard {
  left: 63.5%;
  top: 56%;
  border: 2px solid #ffce51;
}
.locations #st-andré {
  left: 88.5%;
  top: 79%;
  border: 2px solid #ffce51;
}
.locations #bourg {
  left: 53%;
  top: 80%;
  border: 2px solid firebrick;
}
.locations #villeneuve {
  left: 44%;
  top: 56%;
  border: 2px solid firebrick;
}
.locations #st-vivien {
  left: 37%;
  top: 80%;
  border: 2px solid firebrick;
}
.locations #la-buissière {
  left: 72%;
  top: 82.5%;
  border: 2px solid firebrick;
}
.locations #les-essarts {
  left: 29%;
  top: 59%;
  border: 2px solid #00cc00;
}
.locations #st-paul {
  left: 14%;
  top: 81%;
  border: 2px solid #00cc00;
}
.locations #sigy {
  left: 5%;
  top: 63%;
  border: 2px solid dodgerblue;
}
.locations #marcamps {
  left: 14.5%;
  top: 48.5%;
  border: 2px solid dodgerblue;
}
.locations #st-ciers-d-abzac {
  left: 7%;
  top: 32%;
  border: 2px solid dodgerblue;
}
.locations #blaye {
  left: 25%;
  top: 26%;
  border: 2px solid #ff8534;
}
.locations #beaujeu {
  left: 6%;
  top: 11%;
  border: 2px solid #ff8534;
}
.locations #la-salle {
  left: 22%;
  top: 4%;
  border: 2px solid #ff8534;
}
.locations #charolles {
  left: 36%;
  top: 37%;
  border: 2px solid #ff8534;
}
.locations #sennecy {
  left: 37%;
  top: 12%;
  border: 2px solid #e7caca;
}
.locations #l-épervier {
  left: 50%;
  top: 28%;
  border: 2px solid #e7caca;
}
.locations #château-neuf {
  left: 51%;
  top: 8%;
  border: 2px solid #e7caca;
}
.locations #mazilles {
  left: 63%;
  top: 13%;
  border: 2px solid #e7c0e9;
}
.locations #st-andromy {
  left: 71.5%;
  top: 40%;
  border: 2px solid #e7c0e9;
}

.chateau {
  background-image: url("/fief/storage/app/public/images/chateau.png");
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100% !important;
  width: 100% !important;
  opacity: 1 !important;
}

.cite {
  background-image: url("/fief/storage/app/public/images/cite.png");
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100% !important;
  width: 100% !important;
  opacity: 1 !important;
}

.moulin {
  background-image: url("/fief/storage/app/public/images/moulin.png");
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100% !important;
  width: 100% !important;
  opacity: 1 !important;
  transform: translateX(-20px) translateY(20px) scale(0.6);
  z-index: 2;
}

.army {
  height: 48px;
  width: 25px;
}
.army .lord {
  height: 100%;
  width: 100%;
  background-image: url("/fief/storage/app/public/images/charles.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 3;
  transition: 0.5s ease;
  box-shadow: 0px 0px 15px -5px #000000;
}
.army .lord .lord-banner {
  width: 60%;
  height: 100%;
  position: absolute;
  z-index: 4;
  right: -17%;
}

.game-container {
  background-color: var(--background-black);
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.game-container header {
  height: 5%;
  box-sizing: border-box;
  border: 2px solid #3f3f3f;
  background-color: #c9c9c9;
  display: flex;
  justify-content: center;
}
.game-container header section:not(.current) {
  background-image: url("/fief/storage/app/public/textures/grunge2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.game-container header section {
  height: 100%;
  box-sizing: border-box;
  border-right: 2px solid #3f3f3f;
  width: 10%;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-container header section:last-child {
  border: none;
}
.game-container main {
  height: 95%;
  width: 100%;
  display: flex;
}
.game-container .players {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.game-container .players .player-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-container .players button {
  height: 110px;
  border: 2px solid #8f7450;
  background-color: burlywood;
}
.game-container .main-section {
  width: 100%;
  display: flex;
  position: relative;
}
.game-container .game-view {
  height: 100%;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 1em;
  box-shadow: inset 5px 3px 15px -5px #000000;
}
.game-container .game-view .game-board {
  height: 100%;
  width: 95%;
  display: flex;
  justify-content: center;
}
.game-container .game-view .game-board .board-img {
  height: 100%;
  width: auto;
}
.game-container .game-view .game-board .game-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.game-container .game-view .game-board .game-cards .card-pile {
  position: relative;
  height: 70px;
  width: 100px;
  border: 1px solid white;
  border-radius: 0.5em;
}
.game-container .game-view .game-board .game-cards .card-pile .card {
  height: 100%;
  width: 100%;
  position: absolute;
}
.game-container .game-view .game-board .game-cards .card-pile .card img {
  transform: rotate(90deg);
}
.game-container .player-hand {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  transition: 0.5s ease;
  align-self: flex-end;
}
.game-container .player-hand .in-hand-card {
  -webkit-animation: "inHandCard" 1s ease forwards;
          animation: "inHandCard" 1s ease forwards;
}
.game-container nav {
  position: absolute;
  right: 0;
  top: 0;
  width: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.game-container nav button {
  margin: 0.5em 0;
  height: 60px;
  width: 60px;
  background-color: goldenrod;
  border: 3px solid #a17914;
  border-radius: 100%;
  transform: translateX(30%);
  box-shadow: inset 0px 0px 10px 3px rgba(75, 43, 16, 0.8);
  transition: 0.1s ease-out;
}
.game-container nav button:hover {
  box-shadow: inset 0px 0px 15px 3px rgba(75, 43, 16, 0.8);
}
.game-container .modal-wrapper {
  width: 100%;
  position: absolute;
  bottom: 15%;
  opacity: 0;
  z-index: -1;
  transition: 0.5s ease;
}
.game-container .modal-wrapper .modal {
  display: flex;
  justify-content: center;
}
.game-container .modal-wrapper .modal p {
  width: 40%;
  text-align: center;
  border: 5px solid gray;
  background-color: lightgray;
  box-sizing: border-box;
  padding: 1em;
}
.game-container .modal-show {
  z-index: 2;
  opacity: 0;
  -webkit-animation: "modalshow" 2.5s forwards;
          animation: "modalshow" 2.5s forwards;
}

.login-container {
  background-image: url("/fief/public/storage/images/castle.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.login-container main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container .parchm {
  width: 400px;
  height: 500px;
  box-shadow: black;
  background-image: url("/fief/public/storage/images/parchemin2.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container .parchm form {
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.login-container .parchm form .input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-container .parchm input {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid burlywood;
  text-align: center;
}
.login-container .parchm button {
  outline: none;
  background-color: transparent;
  border: none;
}
.login-container .parchm button:hover {
  transition: 0.3s ease;
  transform: scale(1.2);
  cursor: pointer;
}
.login-container .parchm a {
  text-decoration: none;
}
.login-container .parchm a:visited {
  color: black;
}
.login-container .parchm a:hover {
  transition: 0.3s ease;
  transform: scale(1.2);
  cursor: pointer;
}

.lobby-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #04002c;
  background-image: url("/fief/public/storage/images/castle.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lobby-container main {
  height: 80%;
  width: 70%;
  display: flex;
  background-color: blanchedalmond;
  border: 5px solid white;
  opacity: 0.8;
}
.lobby-container button {
  height: 100%;
  background-color: burlywood;
  border: 1px solid #503f29;
}
.lobby-container .game-room {
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  border-right: 5px solid white;
}
.lobby-container .game-room .game-lobby {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lobby-container .game-room .game-lobby > * {
  width: 90%;
}
.lobby-container .game-room .game-lobby p {
  border-bottom: 1px solid black;
  box-sizing: border-box;
  padding: 0.5em;
  font-size: 1.3rem;
  font-weight: bolder;
  letter-spacing: 0.1em;
  text-align: center;
}
.lobby-container .game-room .game-lobby .lobby-player {
  width: 90%;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}
.lobby-container .game-room .game-lobby .lobby-player::after {
  content: "( ˘ -˘)";
}
.lobby-container .game-room .game-lobby .lobby-player.ready {
  color: green;
}
.lobby-container .game-room .game-lobby .lobby-player.ready::after {
  content: "(ง •̀_•́)ง";
}
.lobby-container .game-room .user-btns {
  height: 50px;
  display: flex;
  border-top: 5px solid white;
}
.lobby-container .game-room .user-btns > * {
  width: 50%;
}
.lobby-container .game-room .user-btns > * button {
  width: 100%;
}
.lobby-container .chat {
  height: 100%;
  width: 650px;
  display: flex;
  flex-direction: column;
}
.lobby-container .chat .messages {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0.7em;
}
.lobby-container .chat .messages p {
  line-height: 1em;
  margin-top: 0.2em;
}
.lobby-container .chat .messages .init-game-msg {
  color: firebrick;
}
.lobby-container .chat .write-message {
  height: 200px;
  border-top: 5px solid white;
  display: flex;
  justify-content: space-between;
}
.lobby-container .chat .write-message textarea {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  box-sizing: border-box;
  padding: 0.7em;
}

* {
  margin: 0;
  font-family: "MedievalSharp", cursive;
  font-size: 1.1rem;
}

body {
  height: 100vh;
  width: 100vw;
}
