@charset "UTF-8";
:root {
  --red: rgb(158, 29, 29);
  --red-strong: rgb(56, 0, 0);
  --red-txt: rgb(224, 172, 0);
  --green: rgb(19, 134, 19);
  --green-strong: rgb(16, 85, 16);
  --green-txt: rgb(255, 219, 22);
  --white: rgb(240, 240, 240);
  --white-strong: rgb(185, 185, 185);
  --white-txt: rgb(31, 30, 30);
  --blue: rgb(17, 81, 146);
  --blue-strong: rgb(8, 61, 114);
  --blue-txt: rgb(96, 205, 255);
  --yellow: rgb(223, 178, 1);
  --yellow-strong: rgb(185, 135, 6);
  --yellow-txt: rgb(30, 30, 30);
  --black: rgb(36, 36, 36);
  --black-strong: rgb(19, 19, 19);
  --black-txt: rgb(236, 236, 236);
  --background-black: rgb(26, 26, 26);
}

.red-theme {
  background-color: var(--red);
  color: var(--red-txt);
  background-image: url("/fief/storage/app/public/textures/dark-leather.png");
}

.red-bordered {
  background-color: var(--red);
  color: var(--red-txt);
  background-image: url("/fief/storage/app/public/textures/dark-leather.png");
  width: 100%;
  box-sizing: border-box;
  border: 5px solid var(--red-strong);
}
.red-bordered.token {
  border: 3px solid var(--red);
}
.red-bordered.village {
  background-color: transparent;
  background-image: none;
  border: 3px solid var(--red);
}

.blue-theme {
  background-color: var(--blue);
  color: var(--blue-txt);
  background-image: url("/fief/storage/app/public/textures/blu-stripes.png");
}

.blue-bordered {
  background-color: var(--blue);
  color: var(--blue-txt);
  background-image: url("/fief/storage/app/public/textures/blu-stripes.png");
  width: 100%;
  box-sizing: border-box;
  border: 5px solid var(--blue-strong);
}
.blue-bordered.token {
  border: 3px solid var(--blue);
}
.blue-bordered.village {
  background-color: transparent;
  background-image: none;
  border: 3px solid var(--blue);
}

.green-theme {
  background-color: var(--green);
  color: var(--green-txt);
  background-image: url("/fief/storage/app/public/textures/fake-luxury.png");
}

.green-bordered {
  background-color: var(--green);
  color: var(--green-txt);
  background-image: url("/fief/storage/app/public/textures/fake-luxury.png");
  width: 100%;
  box-sizing: border-box;
  border: 5px solid var(--green-strong);
}
.green-bordered.token {
  border: 3px solid var(--green);
}
.green-bordered.village {
  background-color: transparent;
  background-image: none;
  border: 3px solid var(--green);
}

.yellow-theme {
  background-color: var(--yellow);
  color: var(--yellow-txt);
  background-image: url("/fief/storage/app/public/textures/arabesque.png");
}

.yellow-bordered {
  background-color: var(--yellow);
  color: var(--yellow-txt);
  background-image: url("/fief/storage/app/public/textures/arabesque.png");
  width: 100%;
  box-sizing: border-box;
  border: 5px solid var(--yellow-strong);
}
.yellow-bordered.token {
  border: 3px solid var(--yellow);
}
.yellow-bordered.village {
  background-color: transparent;
  background-image: none;
  border: 3px solid var(--yellow);
}

.white-theme {
  background-color: var(--white);
  color: var(--white-txt);
  background-image: url("/fief/storage/app/public/textures/perforated-white-leather.png");
}

.white-bordered {
  background-color: var(--white);
  color: var(--white-txt);
  background-image: url("/fief/storage/app/public/textures/perforated-white-leather.png");
  width: 100%;
  box-sizing: border-box;
  border: 5px solid var(--white-strong);
}
.white-bordered.token {
  border: 3px solid var(--white);
}
.white-bordered.village {
  background-color: transparent;
  background-image: none;
  border: 3px solid var(--white);
}

.black-theme {
  background-color: var(--black);
  color: var(--black-txt);
  background-image: url("/fief/storage/app/public/textures/dark-wood.png");
}

.black-bordered {
  background-color: var(--black);
  color: var(--black-txt);
  background-image: url("/fief/storage/app/public/textures/dark-wood.png");
  width: 100%;
  box-sizing: border-box;
  border: 5px solid var(--black-strong);
}
.black-bordered.token {
  border: 3px solid var(--black);
}
.black-bordered.village {
  background-color: transparent;
  background-image: none;
  border: 3px solid var(--black);
}

.token {
  height: 27px;
  width: 27px;
  padding: 0.1em;
  border-radius: 0.2em;
  background-color: papayawhip;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  box-shadow: 0px 0px 4px 1px black;
  top: 0%;
  bottom: 0%;
  transition: 0.5s ease;
}
.token.none {
  opacity: 0.5;
}
.token.sergeant {
  background-image: url("/fief/storage/app/public/images/soldier.png");
}
.token.knight {
  background-image: url("/fief/storage/app/public/images/knight.png");
}
.token.trebuchet {
  background-image: url("/fief/storage/app/public/images/trebuchet.png");
}
.token.ring {
  background-image: url("/fief/storage/app/public/images/ring.png");
}
.token.ambassy {
  background-image: url("/fief/storage/app/public/images/ambassy.png");
}
.token.treasure {
  background-image: url("/fief/storage/app/public/images/treasure.png");
}
.token.sergeant:nth-of-type(1) {
  left: 2px;
}
.token.sergeant:nth-of-type(2) {
  left: 4px;
}
.token.sergeant:nth-of-type(3) {
  left: 6px;
}
.token.sergeant:nth-of-type(4) {
  left: 8px;
}
.token.sergeant:nth-of-type(5) {
  left: 10px;
}
.token.sergeant:nth-of-type(6) {
  left: 12px;
}
.token.sergeant:nth-of-type(7) {
  left: 14px;
}
.token.sergeant:nth-of-type(8) {
  left: 16px;
}
.token.sergeant:nth-of-type(9) {
  left: 18px;
}
.token.sergeant:nth-of-type(10) {
  left: 20px;
}
.token.sergeant:nth-of-type(11) {
  left: 22px;
}
.token.sergeant:nth-of-type(12) {
  left: 24px;
}
.token.sergeant:nth-of-type(13) {
  left: 26px;
}
.token.knight:nth-of-type(1) {
  left: 2px;
}
.token.knight:nth-of-type(2) {
  left: 4px;
}
.token.knight:nth-of-type(3) {
  left: 6px;
}
.token.knight:nth-of-type(4) {
  left: 8px;
}
.token.knight:nth-of-type(5) {
  left: 10px;
}
.token.knight:nth-of-type(6) {
  left: 12px;
}
.token.knight:nth-of-type(7) {
  left: 14px;
}
.token.knight:nth-of-type(8) {
  left: 16px;
}

/**
  * DICES
  * -----
  *
  */
.dice-b,
.dice-w,
.dice-n {
  border-radius: 0.5em;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.2em;
}
.dice-b img,
.dice-w img,
.dice-n img {
  width: auto;
  height: 80%;
  position: relative;
}
.dice-b .dice-dot,
.dice-w .dice-dot,
.dice-n .dice-dot {
  border: 3px solid black;
  border-radius: 100%;
  position: relative;
}

.dice-w {
  border: 1px solid #e2dcd5;
  background-color: #fffaf4;
}

.dice-b {
  border: 1px solid #424242;
  background-color: #272727;
}

.dice-n {
  border: 1px solid #d8c689;
  background-color: #f8eabb;
}

.d-f2 img:first-child {
  left: 23%;
}
.d-f2 img:last-child {
  right: 23%;
}

.d-f3 img:first-child {
  left: 49%;
}
.d-f3 img:last-child {
  right: 53%;
}

.d-n-2 span:first-child {
  left: 30%;
  bottom: 20%;
}
.d-n-2 span:last-child {
  right: 30%;
  top: 20%;
}

.d-n-3 span:first-child {
  left: 40%;
  bottom: 20%;
}
.d-n-3 span:last-child {
  right: 40%;
  top: 20%;
}

.d-n-4 span:nth-child(odd) {
  left: 10%;
  bottom: 20%;
}
.d-n-4 span:nth-child(even) {
  right: 10%;
  top: 20%;
}

.d-n-5 span:nth-child(odd) {
  left: 20%;
  bottom: 20%;
}
.d-n-5 span:nth-child(even) {
  right: 0;
  top: 20%;
}
.d-n-5 span:nth-child(5) {
  left: -40%;
  top: 0;
}

.d-n-6 span:nth-child(1) {
  left: 30%;
  bottom: 25%;
}
.d-n-6 span:nth-child(2) {
  left: 10%;
  bottom: 0;
}
.d-n-6 span:nth-child(3) {
  left: -10%;
  top: 24%;
}
.d-n-6 span:nth-child(4) {
  left: 10%;
  bottom: 25%;
}
.d-n-6 span:nth-child(5) {
  left: -10%;
  bottom: 0;
}
.d-n-6 span:nth-child(6) {
  left: -30%;
  top: 24%;
}

.card {
  height: 100px;
  width: 64px;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.lord-card {
  background-image: url("/fief/storage/app/public/images/lord-card-verso.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.event-card {
  background-image: url("/fief/storage/app/public/images/event-card-verso.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.disaster-card,
.incomming-disaster {
  background-image: url("/fief/storage/app/public/images/disaster-card-verso.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-pile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-pile .card {
  transform: rotate(90deg);
}

.discard-pile {
  border: 1px solid #dadada;
}

.player-hand .card {
  height: 120px;
  width: 80px;
  position: relative;
  bottom: 40%;
  background-image: url("/fief/storage/app/public/cards/lords/Eric.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s ease;
}
.player-hand .card:hover {
  transform: scale(1.5) translateY(-3em);
}

.draw-animation {
  -webkit-animation: "draw" 1.5s forwards ease-out;
          animation: "draw" 1.5s forwards ease-out;
}

.discarded {
  transform: scale(1.5) translateY(-3em);
  -webkit-animation: "discarded" 1s forwards ease-out;
          animation: "discarded" 1s forwards ease-out;
}

.disas-animation-0 {
  -webkit-animation: "disas-animation-0" 1s ease-out forwards;
          animation: "disas-animation-0" 1s ease-out forwards;
  z-index: 2;
}

.disas-animation-1 {
  -webkit-animation: "disas-animation-0" 1.5s ease-out forwards;
          animation: "disas-animation-0" 1.5s ease-out forwards;
  z-index: 2;
}

.disas-animation-2 {
  -webkit-animation: "disas-animation-0" 2s ease-out forwards;
          animation: "disas-animation-0" 2s ease-out forwards;
  z-index: 2;
}

.locations .village {
  position: absolute;
  height: 8%;
  width: 6%;
  display: block;
  border-radius: 0.3em;
  transition: 0.3s ease;
}
.locations .village:hover {
  transform: scale(1.4);
  z-index: 4;
}
.locations .village:hover > .army:nth-of-type(1) {
  transform: translateX(-30%);
  transform: translateY(-30%);
}
.locations .village > .army:nth-of-type(1) {
  left: -60%;
  top: -80%;
}
.locations .village > .army:nth-of-type(2) {
  left: -90%;
  top: 0%;
}
.locations .village > .army:nth-of-type(3) {
  left: -60%;
  top: 60%;
}
.locations .village > .army:nth-of-type(4) {
  left: 60%;
  top: -80%;
}
.locations .village > .army:nth-of-type(5) {
  left: 90%;
  top: 0%;
}
.locations .village > .army:nth-of-type(6) {
  left: 60%;
  top: 60%;
}
.locations #tournus {
  left: 77%;
  top: 20%;
  opacity: 0;
}
.locations #tournus::after {
  content: "TOURNUS";
  position: absolute;
  top: -50%;
  left: -50%;
  font-size: 0.8rem;
  color: lightgray;
  background-color: darkgreen;
  padding: 0.3em;
  border-radius: 0.5em;
}
.locations #tournus:hover {
  opacity: 1;
}
.locations #belleville {
  left: 87%;
  top: 5%;
}
.locations #pugnac {
  left: 88%;
  top: 36%;
}
.locations #st-gérôme {
  left: 85.5%;
  top: 58.5%;
}
.locations #st-médard {
  left: 63.5%;
  top: 56%;
}
.locations #st-andré {
  left: 88.5%;
  top: 79%;
}
.locations #bourg {
  left: 53%;
  top: 80%;
}
.locations #villeneuve {
  left: 44%;
  top: 56%;
}
.locations #st-vivien {
  left: 37%;
  top: 80%;
}
.locations #la-buissière {
  left: 72%;
  top: 82.5%;
}
.locations #les-essarts {
  left: 29%;
  top: 59%;
}
.locations #st-paul {
  left: 14%;
  top: 81%;
}
.locations #sigy {
  left: 5%;
  top: 63%;
}
.locations #marcamps {
  left: 14.5%;
  top: 48.5%;
}
.locations #st-ciers-d-abzac {
  left: 7%;
  top: 32%;
}
.locations #blaye {
  left: 25%;
  top: 26%;
}
.locations #beaujeu {
  left: 6%;
  top: 11%;
}
.locations #la-salle {
  left: 22%;
  top: 4%;
}
.locations #charolles {
  left: 36%;
  top: 37%;
}
.locations #sennecy {
  left: 37%;
  top: 12%;
}
.locations #l-épervier {
  left: 50%;
  top: 28%;
}
.locations #château-neuf {
  left: 51%;
  top: 8%;
}
.locations #mazilles {
  left: 63%;
  top: 13%;
}
.locations #st-andromy {
  left: 71.5%;
  top: 40%;
}

.chateau {
  background-image: url("/fief/storage/app/public/images/chateau.png");
  position: absolute;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100% !important;
  width: 100% !important;
  opacity: 1 !important;
}

.cite {
  background-image: url("/fief/storage/app/public/images/cite.png");
  position: absolute;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100% !important;
  width: 100% !important;
  opacity: 1 !important;
}

.moulin {
  background-image: url("/fief/storage/app/public/images/moulin.png");
  position: absolute;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100% !important;
  width: 100% !important;
  opacity: 1 !important;
  transform: translateX(-20px) translateY(20px) scale(0.6);
  z-index: 2;
}

.army {
  height: 40px;
  width: 25px;
  position: relative;
  z-index: 3;
  display: flex;
  transition: 0.3s ease;
}
.army .lord {
  height: 100%;
  width: 100%;
  background-image: url("/fief/storage/app/public/images/charles.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  transition: 0.5s ease;
  box-shadow: 0px 0px 15px -5px #000000;
}
.army .lord-forces {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.army .army-forces {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
  width: 37px;
  top: 17%;
}
.army .army-forces:hover > div > .sergeant {
  top: -35%;
  z-index: 5;
}
.army .army-forces:hover > div > .knight {
  top: 35%;
  z-index: 5;
}
.army .move-menu {
  position: relative;
  height: 0px;
  width: 0px;
  top: -10%;
  left: -40%;
}
.army .move-menu i {
  height: 0px;
  width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0px;
  color: transparent;
  background-color: goldenrod;
  transition: 0.3s ease;
}
.army .move-menu i:hover {
  box-shadow: inset 0px 0px 5px 1px rgba(75, 43, 16, 0.8);
  color: white;
}
.army .move-menu.show {
  height: auto;
  width: auto;
  z-index: 4;
}
.army .move-menu.show i {
  font-size: 1rem;
  height: 25px;
  width: 25px;
  color: #442906;
}
.army .move-menu.show i:first-child {
  transform: translateY(160%) translateX(-100%);
}
.army .move-menu.show i:nth-child(2) {
  transform: translateY(160%);
}
.army .move-menu.show i:nth-child(3) {
  transform: translateY(160%) translateX(100%);
}
.army .move-menu.show i:nth-child(4) {
  border-radius: 10em;
  height: 20px;
  width: 20px;
  transform: translateY(150%) translateX(200%) scale(0.7);
}
.army .move-menu.show i.active {
  background-color: #f5c64f;
  color: white;
}
.army .banner {
  border: 1px solid white;
  height: 85%;
  width: auto;
  position: absolute;
  right: -50%;
  z-index: 5;
}

.player-board {
  width: 900px;
  height: 420px;
  top: 15%;
  flex-direction: column;
}
.player-board.open {
  -webkit-animation: "openPlayerBoard" 1.5s ease-out forwards;
          animation: "openPlayerBoard" 1.5s ease-out forwards;
}
.player-board.close {
  -webkit-animation: "closePlayerBoard" 1.5s ease-out forwards;
          animation: "closePlayerBoard" 1.5s ease-out forwards;
}

.family-info {
  width: 100%;
  height: 20%;
  border-bottom: 5px solid;
  border-color: inherit;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.family-info div {
  width: 70px;
  height: 70px;
  display: flex;
  position: relative;
}
.family-info .token {
  height: 70px;
  width: 70px;
  border-radius: 0.5em;
  border-width: 5px;
}

.family-lords {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lord-slot {
  height: 90%;
  width: 25%;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: inherit;
  border-color: inherit;
  margin: 0.7em;
  display: grid;
  grid-gap: 0.1em;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.lord-slot * {
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 0.5em;
}

.crown:first-child {
  grid-column: 1/6;
  grid-row: 1/2;
}
.crown:nth-child(2) {
  grid-column: 1/6;
  grid-row: 2/3;
}
.crown:nth-child(3) {
  grid-column: 1/6;
  grid-row: 3/4;
}

.ring {
  grid-column: 6/8;
  grid-row: 2/4;
}

.slot {
  grid-column: 1/6;
  grid-row: 4/11;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cross:nth-child(5) {
  grid-column: 6/7;
  grid-row: 4/11;
}
.cross:nth-child(6) {
  grid-column: 7/8;
  grid-row: 4/11;
}

.army-manager {
  height: 500px;
  width: 735px;
  background-color: #031c35;
  background-image: url("/fief/storage/app/public/textures/grunge2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #010c16;
  box-shadow: inset 0px 0px 10px 5px rgba(1, 12, 22, 0.712);
  display: flex;
}
.army-manager > * {
  box-sizing: border-box;
  border: 1px solid whitesmoke;
}
.army-manager > section {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.army-manager > section > * {
  box-sizing: border-box;
  border: 1px solid whitesmoke;
}
.army-manager > section > h1 {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.army-manager > section > div {
  height: 85%;
  width: 100%;
}
.army-manager .a-m-move-btns {
  width: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.army-manager .a-m-move-btns button {
  color: orange;
  background-color: orangered;
  border: 1px solid orange;
  border-radius: 0.3em;
  margin: 1em 0;
  font-size: 1.5rem;
  padding: 0.3em;
}
.army-manager .token {
  position: unset;
  height: 45px;
  width: 45px;
}
.army-manager .lord {
  width: 25%;
  background-image: url("/fief/storage/app/public/cards/lords/Eric.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.army-manager .a-m-staying-lords,
.army-manager .a-m-moving-lords {
  height: 33%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.army-manager .a-m-staying-army,
.army-manager .a-m-moving-army {
  height: 66%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 1em;
}
.army-manager .selected-to-move,
.army-manager .selected-to-stay {
  transform: scale(0.8);
}

.game-container {
  background-color: var(--background-black);
  height: 100%;
  width: 100%;
}
.game-container header {
  height: 5%;
  box-sizing: border-box;
  border: 2px solid #3f3f3f;
  background-color: #c9c9c9;
  display: flex;
  justify-content: center;
}
.game-container header section {
  background-image: url("/fief/storage/app/public/textures/grunge2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  box-sizing: border-box;
  border-right: 2px solid #3f3f3f;
  width: 10%;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-container header section:last-child {
  border: none;
}
.game-container header section:hover {
  cursor: pointer;
}
.game-container main {
  height: 95%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.game-container .players {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #533014;
  background-image: url("/fief/storage/app/public/images/oldpaper2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300%;
  z-index: 2;
  box-sizing: border-box;
  border: 5px solid black;
  box-shadow: inset 0px 0px 5px 3px rgba(24, 24, 24, 0.7);
}
.game-container .players .fa-crown {
  width: 0px;
}
.game-container .players .player-name {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 0px 5px 3px rgba(24, 24, 24, 0.4);
}
.game-container .players .player-name.current-player .fa-crown {
  width: 20px;
  margin-right: 0.3em;
}
.game-container .players .player-name:hover {
  cursor: pointer;
}
.game-container .players .building-btns {
  display: flex;
  justify-content: space-around;
}
.game-container .players .building-btns button {
  width: 30% !important;
  height: 50px !important;
  border: 1px solid #8f7450;
  background-color: burlywood;
  position: unset;
  transform: unset;
}
.game-container .players .building-btns .buy-this {
  box-shadow: inset 0px 0px 4px 1px #422b0c;
}
.game-container .main-section {
  width: 100%;
  display: flex;
  position: relative;
}
.game-container .game-view {
  height: 100%;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 1em;
  box-shadow: inset 0px 0px 43px 20px rgba(0, 0, 0, 0.41);
}
.game-container .game-view .game-board {
  height: 100%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-container .game-view .game-board .locations {
  height: 96%;
  width: 80%;
  position: relative;
  background-image: url("/fief/storage/app/public/images/board.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0px 0px 7px 4px rgba(29, 29, 29, 0.877);
}
.game-container .game-view .game-board .board-img {
  height: 100%;
  width: auto;
}
.game-container .game-view .game-board .game-cards {
  height: 96%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-black);
  background-image: url("/fief/storage/app/public/textures/grunge2.png");
  box-sizing: border-box;
  border: 5px solid black;
  box-shadow: inset 0px 0px 5px 3px rgba(24, 24, 24, 0.7);
  box-shadow: 0px 0px 7px 4px rgba(29, 29, 29, 0.877);
}
.game-container .game-view .game-board .game-cards .card-pile {
  position: relative;
  height: 70px;
  width: 100px;
  border: 1px solid white;
  border-radius: 0.5em;
}
.game-container .game-view .game-board .game-cards .card-pile:first-child {
  margin: 1em 0;
}
.game-container .game-view .game-board .game-cards .card-pile:nth-child(4) {
  margin-top: 1em;
}
.game-container .game-view .game-board .game-cards .card-pile:last-child {
  margin: 1em 0;
}
.game-container .player-hand {
  height: 50px;
  width: 300px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  transition: 0.5s ease;
  align-self: flex-end;
}
.game-container .player-hand .in-hand-card {
  -webkit-animation: "inHandCard" 1s ease forwards;
          animation: "inHandCard" 1s ease forwards;
}
.game-container nav {
  position: absolute;
  right: 0;
  top: 0;
  width: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.game-container nav button {
  margin: 0.5em 0;
  height: 60px;
  width: 60px;
  background-color: goldenrod;
  border: 3px solid #a17914;
  border-radius: 100%;
  box-shadow: inset 0px 0px 10px 3px rgba(75, 43, 16, 0.8), 0px 0px 4px 1px rgba(75, 43, 16, 0.8);
  transition: 0.1s ease-out;
}
.game-container nav button:hover {
  box-shadow: inset 0px 0px 15px 3px rgba(75, 43, 16, 0.8);
}
.game-container .modal-wrapper {
  height: 70%;
  width: 50%;
  position: absolute;
  bottom: 20%;
  left: 25%;
  opacity: 0;
  z-index: -1;
}
.game-container .modal-wrapper.show {
  z-index: 5;
  opacity: 0;
  -webkit-animation: "modalshow" 0.5s forwards;
          animation: "modalshow" 0.5s forwards;
}
.game-container .village.to-choose {
  border: 1px solid white;
}
.game-container .village.to-choose:hover {
  transform: scale(1.3);
  cursor: pointer;
}
.game-container button.active {
  color: var(--red);
}

.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.login-container {
  background-image: url("/fief/public/storage/images/castle.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.login-container main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container .parchm {
  width: 400px;
  height: 500px;
  box-shadow: black;
  background-image: url("/fief/public/storage/images/parchemin2.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container .parchm form {
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.login-container .parchm form .input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-container .parchm input {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid burlywood;
  text-align: center;
}
.login-container .parchm button {
  outline: none;
  background-color: transparent;
  border: none;
}
.login-container .parchm button:hover {
  transition: 0.3s ease;
  transform: scale(1.2);
  cursor: pointer;
}
.login-container .parchm a {
  text-decoration: none;
}
.login-container .parchm a:visited {
  color: black;
}
.login-container .parchm a:hover {
  transition: 0.3s ease;
  transform: scale(1.2);
  cursor: pointer;
}

.lobby-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #04002c;
  background-image: url("/fief/public/storage/images/castle.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lobby-container main {
  height: 80%;
  width: 70%;
  display: flex;
  background-color: blanchedalmond;
  border: 5px solid white;
  opacity: 0.8;
}
.lobby-container button {
  height: 100%;
  background-color: burlywood;
  border: 1px solid #503f29;
}
.lobby-container .game-room {
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  border-right: 5px solid white;
}
.lobby-container .game-room .game-lobby {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lobby-container .game-room .game-lobby > * {
  width: 90%;
}
.lobby-container .game-room .game-lobby p {
  border-bottom: 1px solid black;
  box-sizing: border-box;
  padding: 0.5em;
  font-size: 1.3rem;
  font-weight: bolder;
  letter-spacing: 0.1em;
  text-align: center;
}
.lobby-container .game-room .game-lobby .lobby-player {
  width: 90%;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}
.lobby-container .game-room .game-lobby .lobby-player::after {
  content: "( ˘ -˘)";
}
.lobby-container .game-room .game-lobby .lobby-player.ready {
  color: green;
}
.lobby-container .game-room .game-lobby .lobby-player.ready::after {
  content: "(ง •̀_•́)ง";
}
.lobby-container .game-room .user-btns {
  height: 50px;
  display: flex;
  border-top: 5px solid white;
}
.lobby-container .game-room .user-btns > * {
  width: 50%;
}
.lobby-container .game-room .user-btns > * button {
  width: 100%;
}
.lobby-container .chat {
  height: 100%;
  width: 650px;
  display: flex;
  flex-direction: column;
}
.lobby-container .chat .messages {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0.7em;
}
.lobby-container .chat .messages p {
  line-height: 1em;
  margin-top: 0.2em;
}
.lobby-container .chat .messages .init-game-msg {
  color: firebrick;
}
.lobby-container .chat .write-message {
  height: 200px;
  border-top: 5px solid white;
  display: flex;
  justify-content: space-between;
}
.lobby-container .chat .write-message textarea {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  box-sizing: border-box;
  padding: 0.7em;
}

@-webkit-keyframes draw {
  from {
    transform: translateX(0px) translateY(0px) rotate(90deg) scale(1);
    box-shadow: 0px 0px 0px 0px black;
  }
  60% {
    transform: translateX(-200px) translateY(0px) rotate(90deg) scale(1.5);
    box-shadow: 0px 0px 20px 1px black;
  }
  to {
    transform: translateX(-600px) translateY(700px) rotate(0deg) scale(1.3);
    box-shadow: 0px 0px 20px 1px black;
  }
}

@keyframes draw {
  from {
    transform: translateX(0px) translateY(0px) rotate(90deg) scale(1);
    box-shadow: 0px 0px 0px 0px black;
  }
  60% {
    transform: translateX(-200px) translateY(0px) rotate(90deg) scale(1.5);
    box-shadow: 0px 0px 20px 1px black;
  }
  to {
    transform: translateX(-600px) translateY(700px) rotate(0deg) scale(1.3);
    box-shadow: 0px 0px 20px 1px black;
  }
}
@-webkit-keyframes drawn {
  from {
    transform: translateY(1em);
  }
  to {
    transform: translateY(-5em);
  }
}
@keyframes drawn {
  from {
    transform: translateY(1em);
  }
  to {
    transform: translateY(-5em);
  }
}
@-webkit-keyframes discarded {
  from {
    transform: scale(1.5) translateY(-3em) rotate(0deg);
    opacity: 1;
  }
  80% {
    transform: scale(2) translateY(-6em) rotate(0deg);
    opacity: 1;
  }
  to {
    transform: scale(3) translateY(-6em) rotate(20deg);
    opacity: 0;
  }
}
@keyframes discarded {
  from {
    transform: scale(1.5) translateY(-3em) rotate(0deg);
    opacity: 1;
  }
  80% {
    transform: scale(2) translateY(-6em) rotate(0deg);
    opacity: 1;
  }
  to {
    transform: scale(3) translateY(-6em) rotate(20deg);
    opacity: 0;
  }
}
@-webkit-keyframes disas-animation-0 {
  from {
    transform: translateY(0) scale(1) rotate(90deg);
  }
  50% {
    transform: translateY(50%) scale(1.2) rotate(90deg);
  }
  to {
    transform: translateY(90%) scale(1) rotate(90deg);
  }
}
@keyframes disas-animation-0 {
  from {
    transform: translateY(0) scale(1) rotate(90deg);
  }
  50% {
    transform: translateY(50%) scale(1.2) rotate(90deg);
  }
  to {
    transform: translateY(90%) scale(1) rotate(90deg);
  }
}
@-webkit-keyframes disas-animation-1 {
  from {
    transform: translateY(0) scale(1) rotate(90deg);
  }
  50% {
    transform: translateY(100%) scale(1.2) rotate(90deg);
  }
  to {
    transform: translateY(180%) scale(1) rotate(90deg);
  }
}
@keyframes disas-animation-1 {
  from {
    transform: translateY(0) scale(1) rotate(90deg);
  }
  50% {
    transform: translateY(100%) scale(1.2) rotate(90deg);
  }
  to {
    transform: translateY(180%) scale(1) rotate(90deg);
  }
}
@-webkit-keyframes disas-animation-2 {
  from {
    transform: translateY(0) scale(1) rotate(90deg);
  }
  50% {
    transform: translateY(150%) scale(1.2) rotate(90deg);
  }
  to {
    transform: translateY(260%) scale(1) rotate(90deg);
  }
}
@keyframes disas-animation-2 {
  from {
    transform: translateY(0) scale(1) rotate(90deg);
  }
  50% {
    transform: translateY(150%) scale(1.2) rotate(90deg);
  }
  to {
    transform: translateY(260%) scale(1) rotate(90deg);
  }
}
@-webkit-keyframes disas-animation-discard {
  from {
    transform: translateY(0) scale(1) rotate(90deg);
  }
  50% {
    transform: translateY(170%) scale(1.2) rotate(90deg);
  }
  to {
    transform: translateY(340%) scale(1) rotate(90deg);
  }
}
@keyframes disas-animation-discard {
  from {
    transform: translateY(0) scale(1) rotate(90deg);
  }
  50% {
    transform: translateY(170%) scale(1.2) rotate(90deg);
  }
  to {
    transform: translateY(340%) scale(1) rotate(90deg);
  }
}
@-webkit-keyframes openPlayerBoard {
  from {
    transform: translateX(-20em) scale(0.5);
    z-index: 1;
  }
  40% {
    transform: translateX(2em) scale(0.8);
    z-index: 10;
  }
  to {
    transform: translateX(0em) scale(1);
    z-index: 10;
  }
}
@keyframes openPlayerBoard {
  from {
    transform: translateX(-20em) scale(0.5);
    z-index: 1;
  }
  40% {
    transform: translateX(2em) scale(0.8);
    z-index: 10;
  }
  to {
    transform: translateX(0em) scale(1);
    z-index: 10;
  }
}
@-webkit-keyframes closePlayerBoard {
  from {
    transform: translateX(0em) scale(1);
    z-index: 10;
  }
  40% {
    transform: translateX(2em) scale(0.8);
    z-index: 2;
  }
  to {
    transform: translateX(-40em) scale(0.5);
    z-index: 1;
  }
}
@keyframes closePlayerBoard {
  from {
    transform: translateX(0em) scale(1);
    z-index: 10;
  }
  40% {
    transform: translateX(2em) scale(0.8);
    z-index: 2;
  }
  to {
    transform: translateX(-40em) scale(0.5);
    z-index: 1;
  }
}
* {
  margin: 0;
  font-family: "MedievalSharp", cursive;
  font-size: 1.1rem;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
