@keyframes draw {
    from {
        transform: translateX(0px) translateY(0px) rotate(0deg),
    }
    40% {
        transform: translateX(-200px) translateY(200px) rotate(-35deg)
    }
    to {
        transform: translateX(-300px) translateY(700px) rotate(-90deg)
    }
}
@keyframes drawn {
    from {
        transform: translateY(1em)
    }
    to {
        transform: translateY(-5em);
    }
}

@keyframes modalshow{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}