@mixin back-img($img){
    background-image: url('/fief-online.com/public/storage/'+$img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@mixin takeAnimation(){
    &:hover {
        transform-origin: top right .5cm;
        transition: .5s ease;
        z-index: 10;
        transform: rotate3d(1,2,0,25deg) scale(1.2) translate(10%, -10%) !important;
        cursor: url('/fief-online.com/public/storage/cursors/take.png') 10 10, pointer;
        z-index: 11;
        border-bottom: .5px solid black;
        border-left: .5px solid black;
        box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.53);
        border-radius : .3em;
    }
}

@mixin spreadTokens {

    &>.lord{
        width: 50%;
        left: -1%;

        &:nth-child(1){
            z-index: 4;
        }
        &:nth-child(2){
            z-index: 3;
            left: -40%;
        }
        &:nth-child(3){
            z-index: 2;
            left: -80%;
        }
        &:nth-child(4){
            z-index: 1;
            left: -120%;
        }
    }

    &>.remaining-moulin,
    &>.remaining-chateau,
    &>.remaining-cite,
    &>.sergeant,
    &>.knight {
        top: 20%;

        &:nth-of-type(1){
            left: 45%;
        }
        &:nth-of-type(2){
            left: 50%;
        }
        &:nth-of-type(3){
            left: 55%;
        }
        &:nth-of-type(4){
            left: 60%;
        }
        &:nth-of-type(5){
            left: 65%;
        }
        &:nth-of-type(6){
            left: 70%;
        }
        &:nth-of-type(7){
            left: 75%;
        }
        &:nth-of-type(8){
            left: 80%;
        }
        &:nth-of-type(9){
            left: 85%;
        }
        &:nth-of-type(10){
            left: 90%;
        }
        &:nth-of-type(11){
            left: 95%;
        }
        &:nth-of-type(12){
            left: 100%;
        }
        &:nth-of-type(13){
            left: 105%;
        }
        &:nth-of-type(14){
            left: 110%;
        }
        &:nth-of-type(15){
            left:115%;
        }
    }
}

@mixin spreadMoreOnHover{
    &:hover{

        &>.sergeant{
            top: -35%;
            z-index: 5;
        }

        &>.knight{
            top: 35%;
            z-index: 5;
        }

        &>.sergeant,
        &>.knight {
            &:nth-of-type(1){
                left: 40%;
            }
            &:nth-of-type(2){
                left: 50%;
            }
            &:nth-of-type(3){
                left: 60%;
            }
            &:nth-of-type(4){
                left: 70%;
            }
            &:nth-of-type(5){
                left: 80%;
            }
            &:nth-of-type(6){
                left: 90%;
            }
            &:nth-of-type(7){
                left: 100%;
            }
            &:nth-of-type(8){
                left: 110%;
            }
            &:nth-of-type(9){
                left: 120%;
            }
            &:nth-of-type(10){
                left: 130%;
            }
            &:nth-of-type(11){
                left: 140%;
            }
            &:nth-of-type(12){
                left: 150%;
            }
            &:nth-of-type(13){
                left: 160%;
            }
            &:nth-of-type(14){
                left: 170%;
            }
            &:nth-of-type(15){
                left: 180%;
            }
        }
    }
}
