:root {
    --red: rgb(158, 29, 29);
    --red-strong: rgb(56, 0, 0);
    --red-txt: rgb(224, 172, 0);

    --green: rgb(19, 134, 19);
    --green-strong: rgb(16, 85, 16);
    --green-txt: rgb(255, 219, 22);

    --white: rgb(240, 240, 240);
    --white-strong: rgb(185, 185, 185);
    --white-txt: rgb(31, 30, 30);

    --blue: rgb(17, 81, 146);
    --blue-strong: rgb(8, 61, 114);
    --blue-txt: rgb(96, 205, 255);

    --yellow: rgb(223, 178, 1);
    --yellow-strong: rgb(185, 135, 6);
    --yellow-txt: rgb(30, 30, 30);

    --black: rgb(36, 36, 36);
    --black-strong: rgb(19, 19, 19);
    --black-txt: rgb(236, 236, 236);

    --background-black: rgb(26, 26, 26);
}