@mixin themed($base, $txt, $texture){
    background-color: $base;
    color: $txt;
    background-image: url('../public/storage/textures/'+$texture+'.png');
}

@mixin theme-bordered($base, $txt, $strong, $texture){
    @include themed($base, $txt, $texture);
    width: 100%;
    box-sizing: border-box;
    border: 5px solid $strong;
    transition: 1s ease;

    &.token {
        border: 3px solid $base;
    }

    &.village {
        background-color: transparent;
        background-image: none;
        border: 3px solid $base;
    }

    &.show-influence {
        box-shadow: 0px 0px 40px 35px $base;
        opacity: .7;
    }
}

// RED
.red-theme {@include themed(var(--red), var(--red-txt), 'dark-leather')}
.red-bordered {@include theme-bordered(var(--red), var(--red-txt), var(--red-strong), 'dark-leather')}

// BLUE
.blue-theme {@include themed(var(--blue), var(--blue-txt), 'blu-stripes')}
.blue-bordered {@include theme-bordered(var(--blue), var(--blue-txt), var(--blue-strong), 'blu-stripes')}

// GREEN
.green-theme {@include themed(var(--green), var(--green-txt), 'fake-luxury')}
.green-bordered {@include theme-bordered(var(--green), var(--green-txt), var(--green-strong), 'fake-luxury')}

// YELLOW
.yellow-theme {@include themed(var(--yellow), var(--yellow-txt), 'arabesque')}
.yellow-bordered {@include theme-bordered(var(--yellow), var(--yellow-txt), var(--yellow-strong), 'arabesque')}

// WHITE
.white-theme {@include themed(var(--white), var(--white-txt), 'perforated-white-leather')}
.white-bordered {@include theme-bordered(var(--white), var(--white-txt), var(--white-strong), 'perforated-white-leather')}

// BLACK
.black-theme {@include themed(var(--black), var(--black-txt), 'dark-wood')}
.black-bordered {@include theme-bordered(var(--black), var(--black-txt), var(--black-strong), 'dark-wood')}
