@keyframes openPlayerBoard {
    from {
        transform: translateX(-20em) scale(.5);
        z-index: 1;
    }
    40% {
        transform: translateX(2em) scale(.8);
        z-index: 10;
    }
    to {
        transform: translateX(0em) scale(1);
        z-index: 10;
    }
}

@keyframes closePlayerBoard {
    from {
        transform: translateX(0em) scale(1);
        z-index: 10;
    }
    40% {
        transform: translateX(2em) scale(.8);
        z-index: 2;
    }
    to {
        transform: translateX(-40em) scale(.5);
        z-index: 1;
    }
}
