@mixin backgrounded {
    background-color: blanchedalmond;
    border: 5px solid white;
    opacity: .8;
}

.lobby-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 0, 44);
    background-image: url('/fief/public/storage/images/castle.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

main {
    height: 80%;
    width: 70%;
    display: flex;
    @include backgrounded;
}

button {
    height: 100%;
    background-color: burlywood;
    border: 1px solid rgb(80, 63, 41);
}

.game-room {
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-right: 5px solid white;
    
    .game-lobby {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &>*{width: 90%}
    
        p {
            border-bottom: 1px solid black;
            box-sizing: border-box;
            padding: .5em;
            font-size: 1.3rem;
            font-weight: bolder;
            letter-spacing: .1em;
            text-align: center;
        }
            
        .lobby-player {
            width: 90%;
            padding: .5em;
            display: flex;
            justify-content: space-between;

            &::after {
                content: '( ˘ -˘)';
                // content: '(╯˘ -˘ )╯';
            }

            &.ready {
                color: green;
                &::after {
                    content : '(ง •̀_•́)ง';
                    // content : '(•̀ᴗ•́ )و';
                }
            }
        }
    }

    .user-btns {
        height: 50px;
        display: flex;
        border-top: 5px solid white;
        &>*{
            width: 50%;
            button{
                width: 100%;
            }
        }
    }
}

.chat {
    height: 100%;
    width: 650px;
    display: flex;
    flex-direction: column;

    .messages {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        box-sizing: border-box;
        padding: .7em;

        p {
            line-height: 1em;
            margin-top: .2em;
        }

        .init-game-msg {
            color: firebrick;
        }
    }
    
    .write-message {
        height: 200px;
        border-top: 5px solid white;
        display: flex;
        justify-content: space-between;

        textarea {
            height: 100%;
            width: 100%;
            border: none;
            background-color: transparent;
            resize: none;
            outline: none;
            box-sizing: border-box;
            padding: .7em;
        }
    }
}

}