@use 'meta/root.scss';
@use 'meta/themes.scss';

@use 'components/game/__game-index.scss';
@use 'components/pages/__pages-index.scss';
@use 'components/animations/__animation-index.scss';


* {

    margin: 0;
    font-family: 'MedievalSharp', cursive;
    font-size: 1.1rem;

}

body {

    height: 100vh;
    width: 100vw;
    overflow: hidden;

}
