@use 'meta/root.scss';
@use 'meta/themes.scss';

@use 'components/game/__game-index.scss';
@use 'components/pages/__pages-index.scss';
@use 'components/keyframes/__keyframe-index.scss';


* {

    margin: 0;
    font-family: 'MedievalSharp', cursive;
    font-size: 1.1rem;
    cursor: url('/fief/storage/app/public/cursors/simple.png'), pointer;
}

body {

    height: 100vh;
    width: 100vw;
    overflow: hidden;

}
