@use 'meta/root.scss';
@use 'meta/keyframes.scss';
@use 'meta/themes.scss';

@use 'components/game/game.scss';
@use 'components/pages/pages.scss';


* {

    margin: 0;
    font-family: 'MedievalSharp', cursive;
    font-size: 1.1rem;
    
}

body {

    height: 100vh;
    width: 100vw;
    overflow: hidden;

}