@import '../meta/mixin.scss';
@import '../components/keyframes/parchm.scss';



.login-container {
    @include back-img('images/home-background3.jpg');
    background-size: cover;
    overflow: hidden;
    display: flex;

    form {
        width: 50%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
        top: 5%;
        z-index: 1;

        .input-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    input {
        outline: none;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid burlywood;
        text-align: center;
    }

    button {
        outline: none;
        background-color: transparent;
        border: none;

        &:hover {
            transition: .3s ease;
            transform: scale(1.2);
            cursor: pointer;
        }
    }

    a {
        text-decoration: none;

        &:visited,
        &:active {
            color: black;
        }

        &:hover {
            transition: .3s ease;
            transform: scale(1.2);
            cursor: pointer;
        }
    }

}
