.game-container {
    background-color: var(--background-black);
    overflow: hidden;
    height: 100%;
    width: 100%;

header {
    height: 5%;
    box-sizing: border-box;
    border: 2px solid rgb(63, 63, 63);
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    
    section:not(.current) {
        background-image: url('/fief/storage/app/public/textures/grunge.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    section {
        height: 100%;
        box-sizing: border-box;
        border-right: 2px solid rgb(63, 63, 63);
        width: 10%;
        font-size: .7rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:last-child {
            border: none;
        }
    }
}

main {
    height: 95%;
    width: 100%;
    display: flex;
}

.players {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        
    .player-name {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button {
        height: 110px;
        border: 2px solid rgb(143, 116, 80);
        background-color: burlywood;
    }
}



.main-section {
    width: 100%;
    display: flex;
    position: relative;
}



.game-view {
    height: 100%;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 1em;
    box-shadow: inset 5px 3px 15px -5px #000000;

    .game-board {
        height: 100%;
        width: 95%;
        display: flex;
        justify-content: center;

        .board-img {
            height: 100%;
            width: auto;

        }

        .game-cards {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .card-pile {
                position: relative;
                height: 70px;
                width: 100px;
                border: 1px solid white;
                border-radius: .5em;

                .card {
                    height: 100%;
                    width: 100%;
                    position: absolute;
    
                    img {
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }

    .player-board {
        height: 110px;
        width: 100%;

        .player-hand {
            height: 100%;
            width: 25%;
            display: flex;
            justify-content: space-around;
            transition: .5s ease;
            align-self: flex-end;
        }

        .in-hand-card {
            animation: 'inHandCard' 1s ease forwards;
        }

    }    
}

nav {
    position: absolute;
    right: 0;
    top: 0;
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
        margin: .5em 0;
        height: 60px;
        width: 60px;
        background-color: goldenrod;
        border: 3px solid rgb(161, 121, 20);
        border-radius: 100%;
        transform: translateX(30%);
        box-shadow: inset 0px 0px 10px 3px rgb(75, 43, 16, .8);
        transition: .1s ease-out;
        
        &:hover {
            box-shadow: inset 0px 0px 15px 3px rgb(75, 43, 16, .8);
        }
    }
}

// MODAL
.modal-wrapper {
    width: 100%;
    position: absolute;
    bottom: 15%;
    opacity: 0;
    z-index: -1;
    transition: .5s ease;

    .modal {
        display: flex;
        justify-content: center;
        
        p {
            width: 40%;
            text-align: center;
            border: 5px solid gray;
            background-color: lightgray;
            box-sizing: border-box;
            padding: 1em;
        }
    }

}



.modal-show {
    z-index: 2;
    opacity: 0;
    animation: 'modalshow' 2.5s forwards;
}

}
