.login-container {
    background-image: url('/fief/public/storage/images/castle.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;


main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.parchm {
    width: 400px;
    height: 500px;
    box-shadow: black;
    background-image: url('/fief/public/storage/images/parchemin2.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        width: 50%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .input-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    
    input {
        outline: none;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid burlywood;
        text-align: center;
    }
    
    button {
        outline: none;
        background-color: transparent;
        border: none;
        
        &:hover {
            transition: .3s ease;
            transform: scale(1.2);
            cursor: pointer;
        }
    }
    
    a {
        text-decoration: none;
        
        &:visited {
            color: black;
        }
        
        &:hover {
            transition: .3s ease;
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}

}