.green {
    color: var(--green-txt);
    box-sizing: border-box;
    border: 5px solid var(--green-strong);
    background-color: var(--green);
    &>.player-name{border-bottom: 1px solid var(--green-strong)}
}