@import '../../../meta/mixin.scss';

.armies {
    height: 100%;
    width: 100%;
}

.army {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    transition: .3s ease;

    .moving-lord {
        border: 2px solid gold;
    }

    .army-forces{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: .3s ease;
        height: 100%;
        width: 100%;
        @include spreadTokens;
        @include spreadMoreOnHover;
    }


    // ARMY MOVE MENU
    .move-menu {
        position: relative;
        height: 0px;
        width: 0px;
        top: -10%;
        left: -40%;

        i {
            height: 0px;
            width: 0px;

            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            top: 0;
            left: 0;

            font-size: 0px;
            color: transparent;
            background-color: goldenrod;
            // border-radius: 10em;

            transition: .3s ease;

            &:hover {
                box-shadow: inset 0px 0px 5px 1px rgb(75, 43, 16, .8);
                color: white;
            }
        }

        &.show {
            height: auto;
            width: auto;
            z-index: 4;

            i {
                font-size: 1rem;
                height: 25px;
                width: 25px;
                color: rgb(68, 41, 6);

                &:first-child {
                    transform: translateY(160%) translateX(-100%);
                }

                &:nth-child(2) {
                    transform: translateY(160%);
                }

                &:nth-child(3) {
                    transform: translateY(160%) translateX(100%);
                }

                &:nth-child(4) {
                    border-radius: 10em;
                    height: 20px;
                    width: 20px;
                    transform: translateY(150%) translateX(200%) scale(.7);
                }

                &.active {
                    background-color: rgb(245, 198, 79);
                    color: white;
                }
            }
        }
    }

}
